body{
    display: flex;
    justify-content: center;
    align-items: center;
}


div{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: myfirst;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes myfirst{
0%{
    width: 200px;
    height: 200px;
}

20%{
    width: 300px;
    height: 300px;
    padding: 10px;
}

40%{
    transform: rotate(90deg);
    background-color: green;
    width: 200px;
    height: 100px;
}

60%{
    transform: translateX(100px);
    width: 300px;
    height: 100px;
    background-color: aqua;
}

80%{
    width: 400px;
    height: 400px;
    transform: translateY(-100px);
    background-color: black;
}

100%{
    background-color: red;
    width: 200px;
    height: 200px;
}
}


#spec{
    width: 300px;
    height: 250px;
    background-color: chartreuse;
    animation-name: animat;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: infinite;
}

@keyframes animat {
    0%{
        width: 300px;
        height: 250px;
    }    

    40%{
        width: 500px;
        height: 300px;
        background-color: red;
        border-radius: 20px;
    }

    60%{
        width: 200px;
        height: 300px;
        background-color: chocolate;
        transform: rotate(90deg);
    }

    80%{
        width: 400px;
        height: 400px;
        transform: translateX(100px);
        background-color: gold;
    }

    100%{
        width: 300px;
        height: 250px;
        background-color: chartreuse;
    }
}