.img-div{
    display: flex;
    justify-content: center;
}

#spec{
    width: 700px;
    height: 250px;
    padding: 30px;
}

p{
    font-size: 17px;
}

.img-div2{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.img-div3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100px;
    align-items: center;
    transform: translateX(600px);
    margin-top: 50px;

}

